<div class="main-page" style="padding-top: 50px; text-align: center;">

    <h1>
        Welcome to myMovies!
    </h1>

    <!-- Adding the click event on the signup button -->
    <button mat-raised-button (click)="openUserRegistrationDialog()" style="margin: 10px;" color="primary">
        Sign Up
    </button>
    <!-- Adding the click event on the login button -->
    <button mat-raised-button (click)="openUserLoginDialog()" style="margin: 10px;" color="primary">
        Login
    </button>
    <!-- Adding movies button + click event that calls openMoviesDialog() function -->
    <!-- <button mat-raised-button (click)="openMoviesDialog()" style="margin: 10px;" color="primary">
      All Movies
    </button> -->

</div>