<app-navigation></app-navigation>

<div>

    <div class="movie-list">
        <!-- use ngFor directive to display all movies -->
        <!-- 'movies' refers to the variable declared in the component file -->
        <mat-card *ngFor="let movie of movies;" class="movie-card">

            <mat-card-subtitle>
                <img src={{movie.ImagePath}} alt={{movie.Title}} />
            </mat-card-subtitle>


            <mat-card-header>
                <mat-card-title>{{movie.Title}}</mat-card-title>
                <!-- <mat-icon>favorite_border</mat-icon> -->
                <mat-icon (click)="addToFavorites(movie._id)" class="fav-icon">favorite_border</mat-icon>
            </mat-card-header>


            <mat-card-actions class="button-container">
                <!--  mat-button color="primary" -->
                <button class="movie-button" (click)="openGenreViewDialog(movie.Genre.Name, movie.Genre.Description)">
                    Genre
                </button>
                <!--  mat-button color="primary" -->
                <button class="movie-button"
                    (click)="openDirectorViewDialog(movie.Director.Name, movie.Director.Bio, movie.Director.ImagePath)">
                    Director
                </button>
                <!--  mat-button color="primary" -->
                <button class="movie-button" (click)="openMovieViewDialog(movie.Description)">
                    Story
                </button>

                <!-- <mat-icon>favorite_border</mat-icon> -->
            </mat-card-actions>
        </mat-card>
    </div>

</div>