<div>

    <div class="nav-container">
        <div class="logo" routerLink="/movies">
            myMovies
        </div>

        <div>
            <!--  mat-button  -->
            <button class="nav-button" routerLink='/profile'>
                Profile
            </button>
            <!--  mat-button -->
            <button class="nav-button" routerLink='/movies'>
                All Movies
            </button>
        </div>
    </div>


    <div class="movie-list">
        <!-- use ngFor directive to display all movies -->
        <!-- 'movies' refers to the variable declared in the component file -->
        <mat-card *ngFor="let movie of movies; ">

            <mat-card-subtitle>
                <img src={{movie.ImagePath}} alt={{movie.Title}} />
            </mat-card-subtitle>


            <mat-card-header>
                <mat-card-title>{{movie.Title}}</mat-card-title>
                <mat-icon>favorite_border</mat-icon>
            </mat-card-header>


            <mat-card-actions class="button-container">
                <!--  mat-button color="primary" -->
                <button (click)="openGenreViewDialog(movie.Genre.Name, movie.Genre.Description)">
                    Genre
                </button>
                <!--  mat-button color="primary" -->
                <button
                    (click)="openDirectorViewDialog(movie.Director.Name, movie.Director.Bio, movie.Director.ImagePath)">
                    Director
                </button>
                <!--  mat-button color="primary" -->
                <button (click)="openMovieViewDialog(movie.Description)">
                    Details
                </button>

                <!-- <mat-icon>favorite_border</mat-icon> -->
            </mat-card-actions>
        </mat-card>
    </div>

</div>