
.movie-list {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

// .mat-card {
//     background-color: #000d25;
//     color: #cca53b;
//     font-family: 'Montserrat', sans-serif;
//     margin: 20px;
// }

mat-card-header {
    display: flex;
    justify-content: space-between;
}

mat-card-title {
    text-align: left;
}

img {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content:space-evenly;
}

.movie-button {
    padding: 10px;
} 