/* add global styles to this file, and also import other style files */

$accent-color: #cca53b;
$light-color: gainsboro;
$dark-color: #000d25;
$error-color: #d67c53;
$font-sans: 'Montserrat', sans-serif;
$font-serif: 'Abril Fatface', serif;
$font-big: 60px;
$font-medium: 30px;
$font-small: 20px;
$font-p: 15px;
$font-tiny: 12px;
$font-heavy: 700;
$font-light: 400;


html, body { 
    height: 100%; 
    background-color: #000d25;
}

// body { 
//     margin: 0 auto; 
// }

body {
    font-family: $font-sans;
    font-weight: $font-light;
    font-size: $font-small;
    line-height: 1.6;
    background-color: $dark-color;
    color: $light-color;
  }
  
//   h1 {
//     font-family: $font-serif;
//     font-size:  $font-big !important;
//   }
    
//   h2 {
//     font-family: $font-serif;
//     font-size: $font-medium !important;
//   }
    
//   h3 {
//     font-family: $font-sans;
//     font-size:  $font-small !important; 
//     color: $primary-color;
//   }
  
//   h4 {
//       font-family: $font-sans;
//       font-size:  $font-small !important; 
//       color: $primary-color;
//   }
  
//   h5 {
//       font-family: $font-sans;
//       font-size:  $font-small !important; 
//       color: $primary-color;
//   }
    
//   p {
//     font-family: $font-sans;
//     font-size:  $font-p !important; 
//   }
  

.mat-typography {
    color: #cca53b;
    font-family: 'Montserrat', sans-serif;
}

.mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Montserrat, "Montserrat", sans-serif;  /* greift in profile view, aber nicht in den movie cards  */
    letter-spacing: normal;
}

.logo {
    color: #cca53b;
    font-family: 'Abril Fatface', serif;
    font-size: 60px;
    margin: 10px;
}

.nav-container {
    display: flex; 
    justify-content: space-between;
    padding: 20px;
}

.nav-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px !important;
    justify-self: flex-end;
    margin: 5px; /* greift, wenn mat-button entfernt wird */
    padding: 10px;
}

.mat-button, 
.mat-button-wrapper, 
.mat-icon-button, 
.mat-stroked-button, 
.mat-flat-button {
    font-family: 'Montserrat', sans-serif;
    margin: 5px !important; /* greift nicht ohne important*/
}

button,
.mat-flat-button.mat-primary, 
.mat-raised-button.mat-primary, 
.mat-fab.mat-primary, 
.mat-mini-fab.mat-primary {
    background-color: #000d25 !important;
    border: 1px solid #cca53b !important;
    border-radius: 0%;
    color: #cca53b !important;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif; /* greift nur auf 'button' mit important, alles andere greift */
    padding: 5px;
}

.main-page h1 {
    color: #cca53b;
    font-family: 'Montserrat', sans-serif;
}

// h1, 
// h2, 
.mat-card {
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px; /* greift nicht >>> auch für dialog! */
}

.mat-card {
    background-color: #000d25;
    color: #cca53b;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

.mat-card-header {
    font-family: 'Montserrat', sans-serif ;
    font-size: 10px !important; /* greift nicht >>> auch für dialog! */
}

.mat-dialog-container {
    background-color: #000d25;
    border: 3px dotted #cca53b;
}

// .dialog {
//     display: flex;
//     justify-content: center;
// }

.mat-dialog-content {
    display: flex;
    justify-content:space-evenly;
    font-weight:100;
}

.mat-dialog-title {
    text-align: center;
}

.dialog-text {
    max-width: 300px;
}